.input_wrapper {
    position: relative;
    display: inline-block;
}

.input_wrapper input {
    height: 40px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.input_wrapper input:focus {
    box-shadow: none;
    border: 2px solid blue;
}

.input_icon {
    position: absolute;
    top: 12px;
    left: 16px;
}

.icon_following_input {
    display: inline-block;
}

.icon_button {
    color: var(--bs-primary);
}
.icon_button:hover {
    color: var(--bs-secondary);
}

.icon_button_selected {
    color: var(--bs-info);
}